@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: Anek_Malayalam;
	src: url('./assets/fonts/Anek_Malayalam.ttf') format(truetype);
	font-display: swap;
}

::-webkit-search-cancel-button {
	-webkit-appearance: none;
	display: none;
}

::backdrop {
	backdrop-filter: blur(5px);
}

* {
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Anek_Malayalam, sans-serif;
}

main {
	min-height: 100vh;
}

#menu-popover {
	transform-origin: top right;
	transition: 0.3s linear transform;
}

#menu-popover[open] {
	position: fixed;
	inset: unset;
	right: 10px;
	top: 20px;
	background-color: transparent;
	transform: scale(1);
}

#search-modal[open],
#keywords-modal[open] {
	opacity: 1;
	transform: translateY(0);
	transition: 0.3s linear all;
	position: fixed;
}

.load {
	animation: load 0.7s linear infinite;
	width: 25%;
}

@starting-style {
	#menu-popover[open] {
		position: fixed;
		inset: unset;
		right: 10px;
		top: 20px;
		background-color: transparent;
		transform: scale(0);
	}

	#search-modal[open],
	#keywords-modal[open] {
		opacity: 0;
		transform: translateY(50px)
	}
}

@keyframes load {
	from {
		margin-left: 0;
	}
	to {
		margin-left: 100%;
	}
}

.hljs {
  color: #24292e;
  background: #ffffff;
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  /* prettylights-syntax-keyword */
  color: #d73a49;
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  /* prettylights-syntax-entity */
  color: #6f42c1;
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  /* prettylights-syntax-constant */
  color: #005cc5;
}

.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
  /* prettylights-syntax-string */
  color: #032f62;
}

.hljs-built_in,
.hljs-symbol {
  /* prettylights-syntax-variable */
  color: #e36209;
}

.hljs-comment,
.hljs-code,
.hljs-formula {
  /* prettylights-syntax-comment */
  color: #6a737d;
}

.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  /* prettylights-syntax-entity-tag */
  color: #22863a;
}

.hljs-subst {
  /* prettylights-syntax-storage-modifier-import */
  color: #24292e;
}

.hljs-section {
  /* prettylights-syntax-markup-heading */
  color: #005cc5;
  font-weight: bold;
}

.hljs-bullet {
  /* prettylights-syntax-markup-list */
  color: #735c0f;
}

.hljs-emphasis {
  /* prettylights-syntax-markup-italic */
  color: #24292e;
  font-style: italic;
}

.hljs-strong {
  /* prettylights-syntax-markup-bold */
  color: #24292e;
  font-weight: bold;
}

.hljs-addition {
  /* prettylights-syntax-markup-inserted */
  color: #22863a;
  background-color: #f0fff4;
}

.hljs-deletion {
  /* prettylights-syntax-markup-deleted */
  color: #b31d28;
  background-color: #ffeef0;
}

.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
  /* purposely ignored */
}

.blog-post {
    line-height: 1.6;
    color: #333;
	max-width: 720px;
	margin: auto;
	padding: 1rem;
}

.blog-post h1,
.blog-post h2,
.blog-post h3,
.blog-post h4,
.blog-post h5,
.blog-post h6 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    color: #222;
	font-weight: bold;
}

.blog-post h1 {
    font-size: 2em;
}

.blog-post h2 {
    font-size: 1.75em;
}

.blog-post h3 {
    font-size: 1.5em;
}

.blog-post h4 {
    font-size: 1.25em;
}

.blog-post h5 {
    font-size: 1em;
}

.blog-post h6 {
    font-size: 0.875em;
    color: #555;
}

.blog-post p {
    margin-bottom: 1em;
}

.blog-post blockquote {
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    border-left: 5px solid #ccc;
    background-color: #f9f9f9;
}

.blog-post blockquote p {
    margin: 0;
	font-size: .95rem;
}

.blog-post code {
    background-color: #f4f4f4;
    padding: 2px 4px;
    border-radius: 4px;
    font-family: monospace;
}

.blog-post pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 4px;
    overflow-x: auto;
	margin-bottom: 1rem;
}

.blog-post pre code {
    background: none;
    padding: 0;
}

.blog-post ul,
.blog-post ol {
    margin: 1em 0;
    padding-left: 40px;
}

.blog-post ul li,
.blog-post ol li {
    margin-bottom: 0.5em;
    list-style: auto;
}

.blog-post a {
    color: #1e90ff;
    text-decoration: none;
}

.blog-post a:hover {
    text-decoration: underline;
}

.blog-post img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1em 0;
}

.blog-post table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1em;
}

.blog-post table th,
.blog-post table td {
    border: 1px solid #ddd;
    padding: 0.5em;
    text-align: left;
}

.blog-post table th {
    background-color: #f2f2f2;
}
